/* * {
    background-color: #333;
} */
#news {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1300px;
    margin: 0 auto;

}

.news_block {
    width: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid white;
    height: 500px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    color: #fff;

}


img {
    width: 200px;
    height: 200px;
}

/* Header */
header {
    background-color: #9c9393;
    color: #fff;
    padding: 20px 0;
}

header .logo {
    font-size: 1.5em;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #214E41;
    text-decoration: none;

}
header nav ul li a:hover {
    color: white;
}


/* Footer */
footer {
    background-color: #9c9396;
    color: #fff;
    padding: 20px 0;
}
footer p a {
    text-decoration: none;
    color: #214E41;
    display: flex;
    justify-content: center;
}

footer p {
    margin: 0;
    text-align: center;
}

footer p a:hover {
    color: white;
}

footer ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
}





.footer .footer-container {
    position: relative;
    margin-top: 15px;
}

.footer .footer-container a {
    display: inline-block;
}

.footer .footer-container a i {
    margin-right: 15px;
    font-size: 20px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-container a:last-child i {
    margin: 0;
}

.footer .footer-container a:hover i {
    color: #414141;
}
